.date {
  width: 100%;
  background-color: rgb(47, 41, 217);
  padding: 4px 12px;
  height: 36px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.single-date {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
